<div id="<%= dom_id grade %>">
  <p>
    <strong>Code:</strong>
    <%= grade.code %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= grade.course %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= grade.points %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= grade.grade %>
  </p>

</div>
