

<div class="container horizontal-scrollable">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-center">Course code</th>
      <th class="text-center">Course</th>
      <th class="text-center">Points</th>
      <th class="text-center">Grade</th>
      <th class="text-center">Created at</th>
      <th class="text-center">Updated at</th>
      <th class="text-center"></th>
    </tr>
    </thead>
    <tbody>
        <tr>
          <td class="text-center"><%= @grade.code %></td>
          <td class="text-center"><%= @grade.course %></td>
          <td class="text-center"><%= @grade.points %></td>
          <td class="text-center"><%= @grade.grade %></td>
          <td class="text-center"><%= @grade.created_at %></td>
          <td class="text-center"><%= @grade.updated_at %></td>
          <td class="text-center"> <%= link_to 'Go back', grades_path, class: 'btn btn-warning btn-sm' %> </td>
        </tr>
    </tbody>
  </table>
</div>











