
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="card">
    <div class="card-body">


      <div class="col-sm-5 search-center">
        <%= f.email_field :email, placeholder: 'Email', class: 'form-control', autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>


      <div class="text-center">
        <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary mt-3' %>
      </div>

    </div>
  </div>


<% end %>

<div class="text-center">
  <%= link_to 'Cancel', new_user_session_path, class: 'btn btn-warning' %>
</div>