
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="card">
    <div class="card-body">


      <div class="col-sm-5 search-center">
        <%= f.email_field :email, autofocus: true, autocomplete: "Email", placeholder: 'email', class: 'form-control' %>
      </div>



      <div class="text-center">
        <%= f.submit "Send me reset password instructions", class: 'btn btn-primary mt-3' %>
      </div>


    </div>
  </div>



<% end %>

<div class="text-center">
  <%= link_to  "Cancel", new_user_session_path , class: 'btn btn-warning mt-3' %>
</div>
