<div id="<%= dom_id classmate %>">
  <p>
    <strong>First name:</strong>
    <%= classmate.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= classmate.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= classmate.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= classmate.phone %>
  </p>

</div>
