<p style="color: green"><%= notice %></p>

    <h1 class="text-start mx-3 reduce-gap">Your classmates</h1>
<div class="text-end mr-1">
  <%= link_to "New classmate", new_classmate_path, class: 'btn btn-primary btn-sm mx-5' %>
</div>
<hr>
<div class="container horizontal-scrollable">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-center">First name</th>
      <th class="text-center">Last name</th>
      <th class="text-center">Email</th>
      <th class="text-center">Phone</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @classmates.each do |classmate| %>
      <% if classmate.user == current_user %>
        <tr>
          <td class="text-center"><%= classmate.first_name %></td>
          <td class="text-center"><%= classmate.last_name %></td>
          <td class="text-center"><%= classmate.email %></td>
          <td class="text-center"><%= classmate.phone %></td>
          <td class="text-center"> <%= link_to 'Edit', edit_classmate_path(classmate), class: 'btn btn-success btn-sm' %> </td>
          <td class="text-center"> <%= button_to 'Delete', classmate, method: :delete, class: 'btn btn-danger btn-sm' %> </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>




